input::-ms-clear {
    display: none;
}
td.Prc {
    min-width: 60px;
    text-align: right;
}
.KKK {
    border: 0;
    border-spacing: 0;
}

.KKK th {
    color: white;
    background-color: #335033;
}

.KKK tr:nth-child(even) {
    background: #efefef;
}

.KKK td {
    border: 2px solid #e1e1e1;
    padding: 3px;
}

.button-del {
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: #e51616;
    /*margin: 20px auto;*/
}