body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
    font-family: 'Ubuntu', sans-serif;

}

.placeholder {
    flex: 1;
}

.check-box {
    height: 30px;
}

input {
    display: block;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

}

form {
    width: 90%;
    min-width: 250px;
    max-width: 350px;
}

.top {
    display: flex;
    place-self: flex-end;
}

.description {
    width: 90%;
    min-width: 250px;
    max-width: 350px;
    text-align: center;
}

.btn-logout {
    margin: 15px;
    padding: 10px;
    background-color: #81a3d4;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.write-info {

}