body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
    font-family: 'Ubuntu', sans-serif;

}

.placeholder {
    flex: 1;
}

.check-box {
    height: 30px;
}

input {
    display: block;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: 90%;
    max-width: 350px;
    margin: auto;
}

.block-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 380px;
}

.user-logo {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    color: #4294ff;
}

.btn-logout {
    margin: 15px;
    padding: 10px;
    background-color: #81a3d4;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}


/* Таблица начало */

.block-table {
    max-width: 1024px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.main-table {
  border-collapse: separate;
  color: #686461;
    border:1px solid #B9B29F;
    border-radius: 20px;
}
th {
  /*border-bottom: 3px solid #B9B29F;*/
  padding: 10px;
  text-align: center;
}
td {
  /*padding: 10px;*/
  text-align: center;
  border:1px solid #B9B29F;
  border-radius: 20px;
}
tr:nth-child(odd) {
  /*background: white;*/
}
tr:nth-child(even) {
  background: #E8E6D1;
}
/* Таблица конец */

.links {
    margin-top: 20px;
    display: inline-block;
    /*background: #1C6EA4;*/
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.links-a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
}

.alias {
    color: #ec3a55;
}

.add-alias {
    text-align: center;
}

.info-alias {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.button-add {
    background-color: #4c7aaf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.block-add {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.incorrect {
    box-shadow: 10px 20px 40px rgba(177, 16, 59, 0.64);
}

.write-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 20px 50px rgba(14, 211, 101, 0.58);
    padding: 10px 10px;
}

.button-del {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #e51616;
    margin: 20px auto;
}

.last-note {
    padding: 32px;
    /*position: fixed;*/
	bottom: 0;
    text-align: left;
    margin-top: 20px;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

@media (max-width: 320px) {
    .card {
        width: 100%;
    }
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

/* Стрелки начало */
    /* Вертикальные стрелки начало */
.arrow {
    margin: 40px auto 10px auto;
    width: 18px;
    height: 50px;
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #b7334b;
    border-right: 5px solid #b7334b;

    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow 2s infinite;
}

.arrow span:nth-child(1){
    animation-delay: -0.2s;
}
.arrow span:nth-child(2){
    animation-delay: -0.4s;
}

@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
    /* Вертикальные стрелки конец */

    /* Горизонтальные стрелки начало */
.arrow-right {
    margin: 40px auto 10px auto;
    width: 8px;
    height: 25px;
}

.arrow-left {
    margin: 40px auto 10px auto;
    width: 8px;
    height: 25px;
}

.arrow-left span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #b7334b;
    border-left: 5px solid #b7334b;

    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-left 2s infinite;
}

.arrow-right span {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 5px solid #b7334b;
    border-right: 5px solid #b7334b;

    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-right 2s infinite;
}

.arrow-left span:nth-child(1){
        animation-delay: -0.2s;
}
.arrow-right span:nth-child(2){
    animation-delay: -0.4s;
}

.arrow-left span:nth-child(1){
    animation-delay: -0.2s;
}
.arrow-right span:nth-child(2){
        animation-delay: -0.4s;
}

@keyframes arrow-left {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-0px, -0px) ;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px) ;
    }
}

@keyframes arrow-right {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-0px,-0px) ;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px) ;
    }
}
    /* Горизонтальные стрелки начало */
/* Стрелки конец */