<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Добавить Алиас</title>
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="../static/img/dollar.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <div class="top">
        <a class="btn-logout" href="/">Главная</a>
        <a class="user-logo" href="/items">{{ name_user.capitalize() }}
            <img src="../static/img/user.png" title="User_data">
        </a>
        <a class="btn-logout" href="/logout">Выйти</a>
    </div>

    {% if not_alias %}

    <div class="add-alias">
        <h1>НЕТ такого алиаса в категориях!</h1>
            <div class="info-alias">
                <div class="arrow-left">
                    <span></span>
                </div>
                <h1 class="alias"><b> {{ main_message }}</b></h1>
                <div class="arrow-right">
                    <span></span>
                </div>
            </div>
    </div>

    <div class="block-table">
    <table class="main-table">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Алиасы</th>
        </tr>
        </thead>

    {% for name, data in data_table.items() %}
        <tr>
            <td> <b>{{ name }}</b> <br>
            <div class="arrow">
                <span></span>
            </div>
            Добавить алиас <b><i>{{ data_in }}</i></b> в эту категорию?
            <form method="POST" action="/add">
                <p>
                    <input class="check-box" type="checkbox" name="choice" value="{{ name }}" required>
                    {{ name }}
                </p>
                <p>
                    <input type="submit" value="Добавить" class="button-add">
                </p>
            </form>
            </td>
            <td> {{ data.replace(" ", " | ") }} </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    {% endif %}

    {% if added_alias %}

        <div class="card">
            <h1 class="heading-mini">Готово</h1>
            <p class="text">Добавил Алиас: <b>{{ add_info.alias }}</b>
                в категорию <b>{{ add_info.category}}</b></p>
            <p class="text">Записал в расход: <b>{{ add_info.sum_of_cost }} {{ add_info.description }}</b></p>
            <a class="btn-logout" href="/resume">Продолжить записи</a>
        </div>

    {% endif %}
</body>
</html>