<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Инфо</title>
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="../static/img/dollar.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script async src="../static/js/edit.js"></script>
</head>

<body>

    <div class="top">
        <a class="btn-logout" href="/">Главная</a>
        <a class="btn-logout" href="/logout">Выйти</a>
    </div>

    <div class="headers-edit">
        <h1>Редактирование / Удаление</h1>
        <h3>Всего записей {{ count_costs }}</h3>
    </div>

    <div class="table-wrap">
        <table id="edit-table" class="main-table">
            <thead>
            <tr>
                <th>№</th>
                <th>Сумма</th>
                <th>Описание</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>id</th>
                <th>DEL</th>
            </tr>
            </thead>
            {% for cost in all_costs %}
            <tr>
                <td data-label="№">{{ cost.row_num }}</td>
                <td data-label="Сумма" id="{{ cost.id }}">{{ cost.how_much }}</td>
                <td data-label="Описание">{{ cost.description }}</td>
                <td data-label="Категория">{{ cost.category }}</td>
                <td data-label="Дата" id="ch-date">{{ cost.created }}</td>
                <td data-label="id">{{ cost.id }}</td>
                <td data-label="DEL" class="btn-del">
                    <form method="POST" action="/del_cost">
                        <input type="hidden" name="cost_id" value="{{ cost.id }}">
                        <input type="submit" value="&#10060" class="button-del-items4">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

<div class="links">
    {% if skip_less >= 0 %}
    <a class="links-a" href="/items/?skip={{ skip_less }}">back</a>
    {% endif %}
    {% if count_costs > skip_more %}
    <a class="links-a" href="/items/?skip={{ skip_more }}">next</a>
    {% endif %}
</div>

</body>
</html>