<html>
<head>
    <title>Логин</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <link href="../static/css/login.css" rel="stylesheet">
    <link rel="icon" href="../static/img/dollar.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">


</head>

<body>

    <div class="placeholder"></div>

    <h2>{{ notice }}</h2>

    <form method="POST" action="/login">
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <input type="submit" value="Войти">
    </form>

    <div class="placeholder"></div>

</body>

</html>
