<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ввод данных</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1">
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="icon" href="../static/img/dollar.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <div class="top">
        <a class="btn-logout" href="/logout">Выйти</a>
    </div>
    <h1> Привет, <br>{{ name_user.capitalize() }}</h1>

    <div class="main-block">
        <div class="description">
            <h1>Статистика трат: <br>
            за Месяц<br>
            за Неделю<br>
            за День</h1>
        </div>

    <form method="POST" action="/main">
        <input type="text" name="main_input" required>
        <input type="submit" value="Записать">
    </form>

        {% if write_down %}
        <div class="write-info">
            <h3>Записал</h3>
            <span><b>{{ message.sum_of_cost }} {{ message.description }}</b></span>
            <h4>В категорию:  {{ message.ready_category }}</h4>
        </div>
        {% endif %}

        {% if incorrect_input %}
        <div class="write-info">
            <h3>Некорректный ввод!</h3>
            <span>Введено: <b>{{ message }}</b></span>
            <h4>Пиши так: 120 мтс</h4>
        </div>
        {% endif %}

    </div>

</body>

</html>